.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: rgb(1, 45, 99);
}

.header_list {
  display: flex;
  margin-left: 152px;
  gap: 29px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header_img {
  width: 100px;
  height: 60px;
}

.header_item {
  color: rgb(199, 199, 199);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300px;
  line-height: 28px;
  text-align: left;
}
.header_link {
  color: rgb(199, 199, 199);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300px;
  line-height: 28px;
  text-align: left;
}

.header_link:hover {
  color: rgb(255, 255, 255);
}
.header_link:focus {
  color: rgb(255, 255, 255);
}

.header_lang_list {
  display: flex;
  margin-left: 73px;
  gap: 20px;
}


.header_lang_item {
  color: rgb(199, 199, 199);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 300px;
  line-height: 28px;
  text-align: left;
}

.header_lang_item-colored {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400px;
  line-height: 28px;
  text-align: left;
}

.main {
}

.hero {
  height: 858px;
  background-image: url("../img/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero_text1 {
  color: rgb(255, 255, 255);
  font-family: "PT Serif";
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
}


.hero_title2 {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 144px;
  font-weight: 400;
  line-height: 192px;
  text-align: left;
}

.hero_title3 {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 72px;
  font-weight: 400;
  line-height: 96px;
  text-align: left;
  margin-bottom: 12px;
}

.hero_text {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  width: 500px;
  line-height: 21px;
  text-align: left;
  margin-bottom: 41px;
}

.hero_button {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background: rgb(142, 50, 198);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  padding: 20px 61px;
}
/* nice */
.nice {
  background-image: url("../img/BackgroundImg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 105px;
  padding-bottom: 105px;
}

.nice_list {
  display: flex;
  outline: #8e32c6 solid 5px;
}

.nice_item {
  text-align: center;
}

.nice_item:not(:last-child) {
  border-right: 1px solid #fff;
}

.nice_item:nth-last-child(odd) {
  padding: 0 90.5px;
}

.nice_item:nth-last-child(2) {
  padding: 0 95.5px;
}

.nice_text {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.nice_img {
}

.comments {
  background-image:  url("../img/flowers.png"), url("../img/background3.png");
  background-repeat: no-repeat;
  background-position: left, center;
  background-size: 340px, cover;
  height: 520px;
}

.comments_reviews {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
}

.comments_list {
  display: flex;
  gap: 93px;
  justify-content: space-around;
  margin-top: 24px;
}

.comments_item {
  width: 255px;
  height: 292px;
}

.comments_item:nth-child(1) {
  border-radius: 15px;

  box-shadow:
  0px 14px 0px -5px rgb(123, 84, 179), 0px 30px 0px -13px rgb(83, 57, 120);
  background: linear-gradient(
    135deg,
    rgb(0, 229, 230) 7.292%,
    rgb(0, 168, 247) 26.042%,
    rgb(154, 118, 249) 62.5%,
    rgb(204, 94, 194) 100%
  );
  margin-bottom: 114px;
}

.comments_item:nth-child(2) {
  border-radius: 15px;

  border-radius: 15px;

  box-shadow:
  0px 14px 0px -5px rgb(145, 89, 177), 0px 30px 0px -13px rgb(97, 51, 124);
  background: linear-gradient(
    135deg,
    rgb(255, 104, 180) 0%,
    rgb(255, 69, 225) 26.042%,
    rgb(206, 58, 255) 62.841%,
    rgb(137, 97, 255) 100%
  );
  margin-bottom: 114px;
}

.comments_item:nth-child(3) {
  border-radius: 15px;

  box-shadow:   0px 14px 0px -5px rgb(185, 90, 76), 0px 30px 0px -13px rgb(115, 47, 38);
  background: linear-gradient(
    135deg,
    rgb(255, 225, 40) 0%,
    rgb(255, 155, 92) 30.208%,
    rgb(255, 131, 129) 63.286%,
    rgb(255, 84, 137) 100%
  );
}

.comments_text {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 49px;
  padding-bottom: 8px;
  padding-left: 13px;
  padding-right: 13px;
  text-align: left;
}

.comments_text2 {
  color: rgb(216, 216, 216);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  padding-left: 13px;
  padding-bottom: 47px;
}

.comments_img {
  margin-left: 13px;
}

.comments_littletext {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-left: 49px;
  margin-top: -31px;
}

.comments_text3 {
  color: rgb(216, 216, 216);
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-left: 49px;
}

.orders {
  padding: 20px 0px 37px;
  background-image: url("../img/backround2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.orders_text {
  color: rgb(255, 255, 255);
  font-family: "Playfair Display";
  font-size: 48px;
  font-weight: 400;
  line-height: 64px;
  text-align: center;
  margin-bottom: 33px;
}

.orders_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.orders_button {
  color: rgb(255, 255, 255);
  border-radius: 10px;
  background: rgb(142, 50, 198);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;

  padding: 20px 61px;
  margin-top: 19px;
}

.orders_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 580px;
  height: 50px;
  border-radius: 50px;
}

.orders_label-email .orders_text3{
  border: none;
  width: 690px;
  margin-left: 25px;
  margin-right: 12px;
  color: black;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
}

.orders_label-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 690px;
  height: 60px;
  border-radius: 50px;
}

.orders_text3-email {
  width: 690px;
  padding: 12px 50px;
  border-radius: 50px;
  font-family: "Roboto";
  background: rgb(255, 255, 255);
  color: rgb(0,0,0);
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}

.orders_text3 {
  width: 580px;
  padding: 12px 50px;
  border-radius: 50px;
  font-family: "Roboto";
  background: rgb(255, 255, 255);
  color: rgb(0,0,0);
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}

.orders_text2 {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  width: 500px;
  line-height: 21px;
  margin-bottom: 41px;
}




.footer {
  height: 292px;
  background-color: rgb(2, 22, 53);
  background-size: cover;
  background-position: center;
  padding: 45px 0;
}

.real {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(155, 155, 155);
  padding-bottom: 20px;
}

.quest_list {
  gap: 10px;
}

.real_text {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
}

.links_list {
  gap: 10px;
}

.real_link {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: right;
  text-decoration-line: underline;
}

.information_list {
  gap: 7px;
  margin-top: 24px;
}

.real_info {
  color: #fff;
  font-size: 18px;
  font-weight: 400px;
}

.logo_list {
  display: flex;
}

.real_logo {
  color: rgb(255, 255, 255);
  font-family: "PT Serif";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: right;
}

.real_logo-img {
}
